.twitter-dashlet div.list
{
}
.twitter-dashlet div.detail-list-item
{
   min-height: 48px; /* No smaller that profile images */
}
.twitter-dashlet h4, .twitter-dashlet p
{
   margin-bottom: 0.25em;
   margin-top: 0;
   padding-top:0;
}
.twitter-dashlet div.tweet-details
{
   color: #999999;
   margin-bottom: 0.25em;
}
.twitter-dashlet div.tweet-details a,
.twitter-dashlet div.tweet-details a:link,
.twitter-dashlet div.tweet-details a:hover,
.twitter-dashlet div.tweet-details a:visited
{
   color: #999999;
}
.twitter-dashlet .user-tweet
{
   clear: both;
}
.twitter-dashlet .user-tweet .tweet
{
	margin-left: 58px;
}
.twitter-dashlet .user-tweet .user-icon
{
   float: left;
}
.twitter-dashlet > .scrollableList
{
   padding-top: 0;
}
.twitter-dashlet > .body div.timeline
{
   padding-left: 0;
   padding-right: 0;
}
.twitter-dashlet .buttons
{
	padding-top: 1em;
	text-align: center;
	display: none;
}
.twitter-dashlet .screen-name
{
   font-weight: 700;
}
.twitter-dashlet .user-name
{
   color: #999999;
}
.twitter-dashlet .retweeted
{
   background-image: url("twitter-spritev2-vertical.png");
   background-position: 0px -96px;
   background-repeat: no-repeat;
   padding-left: 18px;
   color: #999999;
}
.twitter-dashlet .tweet-hd,
.twitter-dashlet .tweet-bd
{
   padding-bottom: 0.2em;
}
.twitter-dashlet .msg
{
   padding-top: 8px;
   padding-left: 8px;
   padding-right: 8px;
}
.twitter-dashlet .notifications
{
   background-color: #FFFBDD;
   border-bottom: 1px solid #DDD6A0;
   padding-top: 5px;
   padding-bottom: 5px;
   text-align: center;
	display: none;
	cursor: pointer;
}
.twitter-dashlet .refresh
{
   background-image: url('refresh-icon.png');
   background-repeat: no-repeat;
   float: right;
   height: 16px;
   left: -8px;
   position: relative;
   top: -22px;
   width: 16px;
}
.twitter-dashlet .refresh a,
.twitter-dashlet .refresh a:active,
.twitter-dashlet .refresh a:hover
{
   display: block;
   height: 16px;
   text-decoration: none;
   width: 16px;
}
.twitter-timeline-connect {
	text-align: center;
    background-color: #FFFBDD;
    border-bottom: 1px solid #DDD6A0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.twitter-timeline-connect div {
	margin-bottom: 1em;
}
.twitter-timeline-utils {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 90%;
    display: none;
}
.twitter-dashlet-toolbar
{
    display: none;
}
.twitter-actions
{
	display: none;
}
.user-tweet:HOVER .twitter-actions
{
	display: inline;
}
.user-tweet:HOVER
{
	background-color: #f2f8fd;
}
.twitter-favorite-link,
.twitter-favorite-link-on,
.twitter-retweet-link,
.twitter-reply-link
{
	display: inline;
   background-image: url("twitter-spritev2-vertical.png");
   background-repeat: no-repeat;
	height: 16px;
	overflow: hidden;
   padding-left: 18px;
   margin-left: 5px;
   font-size: 85%;
}
.twitter-favorite-link span,
.twitter-favorite-link-on span,
.twitter-retweet-link span,
.twitter-reply-link span
{
}
.twitter-favorite-link
{
   background-position: 0px -49px;
}
.twitter-favorite-link-on
{
   background-position: 0px -65px;
}
.twitter-retweet-link
{
   background-position: 0px -96px;
}
.twitter-reply-link
{
   background-position: 0px -16px;
}
.twitter-dashlet .toolbar div.actions
{
    line-height: 2em;
    min-height: 2em;
    float: right;
}
.twitter-char-count
{
	padding-top: 0.5em;
	text-align: right;
}
.twitter-char-count
{
	padding-top: 0.5em;
	text-align: right;
	font-size: 1.2em;
}
.count-over
{
	color: red;
}